<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Exemplo de formulário</title>
</head>
<body>
    <form action="/form/submit" method="post">
        <label for="form-input__name">Nome: </label>
        <input id="form-input__name" name="name" type="text" placeholder="Nome"><br>
        <label for="form-input__lastname">Sobrenome: </label>
        <input id="form-input__lastname" name="lastname" type="text" placeholder="Sobrenome"><br>
        <label for="form-input__phone">Telefone: </label>
        <input id="form-input__phone" name="phone" type="text" placeholder="Telefone"><br>
        <label for="form-input__company">Empresa: </label>
        <input id="form-input__company" name="company" type="text" placeholder="Empresa"><br>
        <input type="submit">
    </form>
</body>
</html>